%tr
  %td
    = time.local_time.strftime('%b %d at %I:%M %p')
  %td
    = link_to(time.production.title, production_path(time.production))
  %td
    = time.theater.name
  %td
    = link_to 'Edit', edit_showtime_path(time)
