= simple_form_for @venue, defaults: {wrapper_html: {class: "col-sm-4"}} do |f|
  - if user_signed_in?
    .links
      = link_to_add_association 'Add Showtime', f, :showtime,        |
      class: 'btn btn-primary',                                 |
      partial: 'venues/showtimes/showtime_fields'                  |
    .actions
      = f.button :submit, 'Save Showtime'
