%table.table.table-striped
  %tbody.showtimes
    = render 'production/steps/showtimes/listing'

= link_to 'New Showtime', new_showtime_path('production_id': @production.id), remote: true, class: 'new-showtime-button'
