%table.table.table-striped
  %tbody.showtimes
    = render 'production/steps/showtimes/listing'

= link_to 'New Showtime', new_showtime_path(production: @production), remote: true, class: 'new-showtime-button btn btn-primary'

= link_to 'Back', wizard_path(:production_data), class: 'btn btn-primary'
