= simple_form_for @production, defaults: {wrapper_html: {class: 'col-sm-6'}} do |f|
  - if user_signed_in?
    .links
      = link_to_add_association 'Add Showtime', f, :showtimes,        |
      class: 'btn btn-primary',                                 |
      partial: 'production/steps/showtimes/showtime_fields'
    .actions
      = f.button :submit, 'Save Showtime'
