%table.table.table-striped
  %tbody.credits
    = render template: 'production/steps/credits/listing', locals: { credits: @production.credits.production }

= link_to 'New Credit', new_credit_path(creditable: @production), remote: true, class: 'new-credit-button btn btn-primary'

= link_to 'Back', wizard_path(:production_people), class: 'btn btn-primary'
