.tab-wrapper
  %ul.nav.nav-pills{ role: 'tablist' }
    %li.nav-item
      %a.nav-link.active{ data: { toggle: 'pill' }, href: '#acting', role: 'tab'}
        Acting
    %li.nav-item
      %a.nav-link{ data: { toggle: 'pill' }, href: '#writing', role: 'tab'}
        Writing
.tab-content
  .tab-pane.active{ id: 'acting', role: 'tabpanel'}

    - @artist.production_credits.each do |credit|
      - p = credit.production
      = render partial: 'artists/credits/listing', locals: { target: p, credit: credit }
    = render partial: 'credit_form', locals: { target: :production_credits }
  .tab-pane{ id: 'writing', role: 'tabpanel'}

    - @artist.writing_credits.each do |credit|
      - p = credit.production
      = render partial: 'artists/credits/listing', locals: { target: p, credit: credit }
    = render partial: 'credit_form', locals: { target: :writing_credits }
