.tab-wrapper
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li.nav-item
      %a.nav-link.active{ data: { toggle: 'tab' }, href: '#credits', role: 'tab'}
        Credits
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#media', role: 'tab'}
        Media
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#info', role: 'tab'}
        Info
  .social
    - if @artist.social_links.present?
      %ul
        - @artist.social_links.try(:each) do |k,v|
          %li
            = link_to v.to_s do
              - if k == 'website'
                <i class="fa fa-globe" aria-hidden="true"></i>
              - elsif k == 'email'
                <i class="fa fa-envelope" aria-hidden="true"></i>
              - else
              <i class="fa fa-#{k.to_s}" aria-hidden="true"></i>
.tab-content
  .tab-pane.active{ id: 'credits', role: 'tabpanel' }
    = render 'credits'
  .tab-pane{ id: 'media', role: 'tabpanel' }
    %ul
      - @artist.pictures.each do |p|
        %li
          = attachment_image_tag(p, :image, :fit, 300, 300)

  .tab-pane{ id: 'info', role: 'tabpanel' }
