#user-profile
  %header
    %ul.nav.nav-tabs{ role: 'tablist' }
      %li.nav-item
        %a.nav-link.active{ data: { toggle: 'tab' }, href: '#news', role: 'tab'}
          News
      - if policy(@user).edit?
        %li.nav-item
          %a.nav-link{ data: { toggle: 'tab' }, href: '#notifications', role: 'tab'}
            Notifications
        %li.nav-item
          %a.nav-link{ data: { toggle: 'tab' }, href: '#settings', role: 'tab'}
            Settings
  .tab-content
    .tab-pane.active{ id: 'news', role: 'tabpanel' }
      Some news content
      = render_activities(@user.activities)
    - if policy(@user).edit?
      .tab-pane{ id: 'notifications', role: 'tabpanel' }
        Some notification content
      .tab-pane{ id: 'settings', role: 'tabpanel' }
        = render 'devise/registrations/edit', resource: current_user
