.tab-wrapper
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li.nav-item
      %a.nav-link.active{ data: { toggle: 'tab' }, href: '#credits', role: 'tab'}
        Credits
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#media', role: 'tab'}
        Media
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#reviews', role: 'tab'}
        Info
.tab-content
  .tab-pane.active{ id: 'credits', role: 'tabpanel' }
    = render 'credits'
  .tab-pane{ id: 'media', role: 'tabpanel' }
    %ul
      - @production.pictures.each do |p|
        %li
          = attachment_image_tag(p, :image, :fit, 300, 300)

  .tab-pane{ id: 'reviews', role: 'tabpanel' }
    .social
    - if @production.metadata.present?
      %ul
        - @production.metadata.try(:each) do |k,v|
          %li
            #{k.humanize}: #{v}
