.tab-wrapper
  %ul.nav.nav-pills{ role: 'tablist' }
    %li.nav-item
      %a.nav-link.active{ data: { toggle: 'pill' }, href: '#cast', role: 'tab'}
        Cast
    %li.nav-item
      %a.nav-link{ data: { toggle: 'pill' }, href: '#creative', role: 'tab'}
        Creative
    %li.nav-item
      %a.nav-link{ data: { toggle: 'pill' }, href: '#staff', role: 'tab'}
        Staff
    %li.nav-item
      %a.nav-link{ data: { toggle: 'pill' }, href: '#other', role: 'tab'}
        Other
.tab-content
  .tab-pane.active{ id: 'cast', role: 'tabpanel'}
    %table.table.table-striped
      %tbody
        - @artist.credits.production.each do |credit|
          - p = credit.creditable
          = render partial: 'artists/credits/listing', locals: { target: p, credit: credit }
  .tab-pane{ id: 'creative', role: 'tabpanel'}
    %table.table.table-striped
      %tbody
        - @artist.credits.creative.each do |credit|
          - p = credit.creditable
          = render partial: 'artists/credits/listing', locals: { target: p, credit: credit }
  .tab-pane{ id: 'staff', role: 'tabpanel'}
    %table.table.table-striped
      %tbody
        - @artist.credits.staff.each do |credit|
          - p = credit.creditable
          = render partial: 'artists/credits/listing', locals: { target: p, credit: credit }
  .tab-pane{ id: 'other', role: 'tabpanel'}
    %table.table.table-striped
      %tbody
        - @artist.credits.other.each do |credit|
          - p = credit.creditable
          = render partial: 'artists/credits/listing', locals: { target: p, credit: credit }
