.tab-wrapper
  %ul.nav.nav-pills{ role: 'tablist' }
    %li.nav-item
      %a.nav-link.active{ data: { toggle: 'pill' }, href: '#cast', role: 'tab'}
        Cast
    %li.nav-item
      %a.nav-link{ data: { toggle: 'pill' }, href: '#creative', role: 'tab'}
        Creative
.tab-content
  .tab-pane.active{ id: 'cast', role: 'tabpanel'}
    - production_credits = @artist.credits.production.map(&:creditable)
    = render partial: 'productions/production_list', locals: { productions: production_credits }
  .tab-pane{ id: 'creative', role: 'tabpanel'}
    - creative_credits = @artist.credits.creative.map(&:creditable)
    = render partial: 'productions/production_list', locals: { productions: creative_credits }
