%h2
  Duplicate Titles
%p
  We found a few other shows with the same title as yours. Are any of these the show you're working on?
%table.table.table-striped
  %tbody
    - @duplicates.each do |p|
      %tr
        %td
          = p.title
        %td
          = p.company.name
        - if p.company.permissions.empty?
          %td
            = link_to 'Claim', company_claim_path(company_id: p.company.id), method: :patch

%p
  If there are no existing permissions on a show, you can click the Claim link above to add yourself as a Company admin.
  Otherwise you will need to ask the existing admin to add permissions, or continue to make a new show.

%p
  = link_to 'continue', next_wizard_path, class: 'btn btn-primary'