.create-show
  %h1
    Create a Show
  .question
    %p
      Add the names of all members of the Creative Team. For key creative credits, tick the appropriate box.

  = render partial: 'production/steps/credits/credit_form', locals: { target: :credits, type: 'creative' }
%table.table.table-striped
  %tbody
    - @production.credits.creative.each do |credit|
      - p = credit.creditable
      = render partial: 'production/steps/credits/listing', locals: { target: p, credit: credit }
