= render partial: 'production/steps/companies/company_form', locals: { target: :company_production_links }
%table.table.table-striped
  %tbody
    - @production.companies.each do |company|
      = render partial: 'production/steps/companies/listing', locals: { company: company }

= link_to 'Back', wizard_path(:production_people), class: 'btn btn-primary'
