= render 'production/steps/showtimes/showtimes'
-#.create-show
-#  %h1
-#    Create a Show
-#  = simple_form_for @production, url: wizard_path, defaults: {wrapper_html: {class: 'col-md-6'}} do |f|
-#    .links
-#      = link_to_add_association 'Add Showtime', f, :showtimes,        |
-#      class: 'btn btn-primary',                                 |
-#      partial: 'production/steps/showtimes/showtime_fields'
-#    .actions
-#      = f.button :submit, 'Save Showtime'
-#
-#%table.table.table-striped
-#  %tbody
-#    - for time in @production.showtimes
-#      = render partial: 'production/steps/showtimes/listing', locals: { time: time }
