.create-show
  %h1
    Create a Show
  = simple_form_for @production, method: :put, url: wizard_path, defaults: {wrapper_html: {class: "col-sm-4"}} do |f|
    .links
      = link_to_add_association 'Add Showtime', f, :showtimes,        |
      class: 'btn btn-primary',                                 |
      partial: 'production/steps/showtimes/showtime_fields'
    .actions
      = f.button :submit, 'Save Showtime'

%table.table.table-striped
  %tbody
    - for time in @production.showtimes
      = render partial: 'production/steps/showtimes/listing', locals: { time: time }
