.create-show
  %h1
    Create a Show

  .form
    = simple_form_for @production, method: :put, url: wizard_path do |f|
      = f.input :first_performance, as: :date_picker
      = f.input :last_performance, as: :date_picker
      = f.button :submit, 'Next Step'
