.create-show
  %h1
    Create a Show

  .form
    = simple_form_for @production, method: :put, url: wizard_path do |f|
      - if @production.archived?
        - date_limit = { date_options: { maxDate: Date.today.strftime('%Y/%m/%d') } }
      - else
        - date_limit = { date_options: { maxDate: false } }
      = f.input :first_performance, as: :date_picker, input_html: { data: date_limit }
      = f.input :last_performance, as: :date_picker, input_html: { data: date_limit }
      = f.button :submit, 'Next Step'
