  %table.table.table-striped
    %tbody
      - @production.companies.each do |company|
        = render partial: 'production/steps/companies/listing', locals: { company: company }
    = render partial: 'production/steps/companies/company_form', locals: { target: :credits }
