.create-show
  %h1
    = best_in_place @production, :title
  .question
    %p
      What information would you like to edit?

  .answers
    = link_to 'dates', wizard_path(:production_dates), class: 'btn btn-primary'
    = link_to 'info', wizard_path(:production_info), class: 'btn btn-primary'
    = link_to 'people', wizard_path(:production_people), class: 'btn btn-primary'
