.create-show
  %h1
    Create a Show
  .question
    %p
      What information would you like to edit?

  .answers
    = link_to 'dates', wizard_path(:production_dates, {past_or_future: @timing}), class: 'btn btn-primary'
    = link_to 'info', wizard_path(:production_info, {past_or_future: @timing}), class: 'btn btn-primary'
    = link_to 'people', wizard_path(:production_people, {past_or_future: @timing}), class: 'btn btn-primary'
