.create-show
  %h1
    Create a Show
  .question
    %p
      Lorem ipsum

  = render partial: 'production/steps/credits/credit_form', locals: { target: :credits, type: 'other' }
%table.table.table-striped
  %tbody
    - @production.credits.other.each do |credit|
      - p = credit.creditable
      = render partial: 'production/steps/credits/listing', locals: { target: p, credit: credit }

= link_to 'Done', wizard_path(:production_people), class: 'btn btn-primary'
