= simple_form_for @company, defaults: {wrapper_html: {class: "col-md-12"}} do |f|
  - if user_signed_in?
    .links
      = link_to_add_association 'Add Production', f, target,        |
      class: 'btn btn-primary',                                 |
      partial: 'companies/productions/production_fields'                  |
    .actions
      = f.button :submit, 'Save Productions'
