// Place all the styles related to the production/steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-show {
  text-align: center;
  h1 {
    color: $brand-primary;
  }
  .explanation {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 1em 0;
  }

  .question {
    color: $brand-primary;
    font-size: 1.25em;
  }

  .answers {
    form { display: inline-block;  }
    .btn {
      font-size: 1.75em;
      text-transform: uppercase;
      font-weight: bold;
      margin: 1em;
    }
  }
}
