<p id="notice"><%= notice %></p>

<h1>Listing Permissions</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
          <td><%= link_to permission.user.full_name, permission.user %></td>
          <td><%= link_to 'Edit', edit_polymorphic_path([@permissible, permission]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
