- if @company.banner_image_id.present?
  = attachment_image_tag(@company, :banner_image, :fill, 800, 200, id: 'header-image', class: 'img-fluid')
- else
  = attachment_image_tag(@company, :key_image, :fill, 800, 200, id: 'header-image', class: 'img-fluid')
