.create-show
  %h1
    Create a Festival

  .form
    = simple_form_for @festival, method: :put, url: wizard_path do |f|
      = f.input :festival_image, as: :attachment, direct: true, input_html: { data: { value: attachment_url(@festival, :festival_image) } }
      = f.input :banner_image, as: :attachment, direct: true, input_html: { data: { value: attachment_url(@festival, :banner_image) } }
      = f.button :submit, 'Next Step'
