.create-show
  %h1
    Create a Festival
  .question
    %p
      What information would you like to edit?

  .answers
    = link_to 'shows', wizard_path(:festival_shows), class: 'btn btn-primary'
    = link_to 'info', wizard_path(:festival_info), class: 'btn btn-primary'
    = link_to 'people', wizard_path(:festival_people), class: 'btn btn-primary'
