- if @productions.present?
  - productions = @productions
- if productions.present?
  %ul.cd-items.cd-container
    - for production in productions
      - if production.class == Production
        - c = production.company if production.company.present?

        %li.cd-item{ data: { production: production.id } }
          = attachment_image_tag(production, :key_image, :fill, 600, 800, fallback: 'unknown600x800.png', class: 'cd-trigger')
          .social
            = render partial: 'shared/social_figure', locals: { target: production }
          %div
            = link_to truncate(production.title, length: 35), production
          %div
            - if c.present?
              = link_to c.name, c

    .cd-quick-view
