- productions = @festival.productions
= render partial: 'festivals/production_list', locals: { productions: productions }

= link_to 'Edit', edit_festival_path(@festival)
|
= link_to 'Back', festivals_path
