/ <h1>500</h1>
/ <p>Ooops! looks like something went wrong on our end. Fret not! we're looking into it.</p>
/ <p>TheaterEngine is still in development and we're actively working to make it perfect.</p>
/ <p><a id="go-home" href="http://theaterengine.com">Click here to go back to the home page.</a></p>

.error
  %h1
    500

  %p
    oops! looks like something went wrong on our end. Fret not! we're looking into it.

  %p
    TheaterEngine is still in development and we're actively working to make it perfect.

  %a
    = link_to "Click here to go back to the home page", root_path, :id => "go-home"
