footer {
    margin-top: 1em;
    img {
        width: 100%;
    }
    figure {
        width: 100%;
        position: relative;
        figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(240,0,0, 0.5);
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 1.75vw;
            line-height: 2em;
            span {
                font-weight: lighter;
            }
        }
    }
    .secondary {
        .row:first-child {
            margin-bottom: 1em;
        }
    }
    #nav-footer {
        background-image: image-url('footer_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        h1 {
            color: invert($gray-base);
            font-size: 2em;
        }

    }
    .nav-footer {
        li {
            a {
                color: $gray-light;
            }
        }
    }
}