footer {
  background-image: image-url('footer_bg.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-top: 1em;
  color: white;
  .row {
    align-items: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  
  ul li {
    color: white;
    white-space: nowrap;
    + li::before {
      content: " | ";
      padding-right: 1em;
      padding-left: 1em;
    }
  }

  .fa {
    font-size: 2em;
    color: white;
}

  img {
    width: 100%;
  }

  figure {
    position: relative;
    width: 100%;
  }

  figcaption {
    background-color: $overlay-red;
    bottom: 0;
    color: $white;
    font-size: 1.75vw;
    font-weight: bold;
    line-height: 2em;
    position: absolute;
    text-align: center;
    width: 100%;

    span {
      font-weight: lighter;
    }
  }

  .col-sm-6 {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  .featured {
    margin-bottom: .5em;
    padding: 0;
    width: 100%;

    figure {
      margin: 0;
    }
  }

  .secondary {
    padding-left: 0;

    .row {
      margin-left: 0;
      margin-right: 0;

      .col-sm-6 {
        margin-bottom: .5em;
        padding: 0;
        width: 100%;
      }
    }
  }
}


#nav-footer {

  h2 {
    color: $white;
    font-size: 1.25em;
  }

  .nav-footer {
    margin-bottom: 2em;
  }

}

.nav-footer {
  li {
    a.nav-link {
      color: $gray-light;
      line-height: 1;
      padding: 0;
      &:hover {
        color: white;
      }
    }
  }
}

@media (min-width: 544px) {
  footer {
    margin-top: 1em;

    .featured {
      margin-bottom: 0;
      width: 100%;

      figure {
        margin: 0 0 1rem;
      }
    }
    .secondary {
      .row {
        &:first-child {
          margin-bottom: 1.5em;
        }
        .col-sm-6 {
          margin-bottom: 0;
          padding-left: .75rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  footer {
    .featured {
      padding-right: 1em;
    }
    .secondary {
      padding-left: 1.1rem;

      .row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;

        &:first-child {
          margin-bottom: 1em;
        }
        .col-sm-6 {
          padding-left: 0;
          padding-right: 1.2rem;
        }
      }
    }
  }
}
