.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-white {
  color: white;
}

.nav-tabs {
    margin-bottom: 1em;

    .nav-item {
        .nav-link {
            border: none;
            background-color: #ddd;
            color: #55595c;
            font-size: .8em;
            font-weight: 400;
            text-align: center;
            width: 150px;

            &.active {
              background-color: $brand-primary;
              color: #fff;
            }
        }
    }
}

.navbar.navbar-light {
  font-weight: bold;
  margin: 0;

  .container {
    padding: 0;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
    width: 100%;

    .nav-link {
      color: rgba(0, 0, 0, 1);
      font-size: .8rem;
      padding-right: 20px;
      position: relative;

      &.dropdown-toggle:after { content: none; }
    }

    .profile_image {
      margin-right: -10px;
      margin-left: 10px;
      height: 30px;
      border-radius: 100%;
    }

    #nav-gear:before {
      font-size: 18px;
    }

    #nav-gear:hover {
      cursor: pointer;
    }

    .dropdown-menu {
      margin-left: -60px;
      background: rgba(0, 0, 0, 0.8);
      padding: 0;
      a {
        color: white;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.tab-pane {
  .nav-pills {
    .nav-link {
      color: grey;
      &.active {
        color: grey;
        font-weight: bold;
        background-color: transparent;
      }
    }
  }
}

.navbar-brand img {
  height: 35px;
}

@media (min-width: 544px) {
  .navbar.navbar-light {
    .navbar-nav {
      justify-content: flex-end;
      // padding: 0;
      width: auto;
    }
  }
}
@media (min-width: 768px) {
  .navbar.navbar-light {
    .container {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar-nav {
      .nav-link {
        font-size: .8rem;
        padding-left: 20px;
      }
    }
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
