.nested-fields.row {
  border: 1px solid black;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
}

form .row {
  flex-wrap: wrap;
}

.nested-fields .form-group {
  margin: 0;
  padding: 1rem;
}

a.btn.remove_fields {
  margin-bottom: 1rem;
  margin-left: 1rem;
  align-self: flex-end;
}

.links, .actions {
  display: inline-block;
}

.form-group.hidden { display: none; }
