aside {
  @include background(linear-gradient(
                          transparentize($white, .2),
                          transparentize($white, .2)
                      ), image-url('broadway.jpg'));

  background-size: cover;
  display: flex;
  flex-direction: column;
  img { max-width: 100%; }

  > section {
    background: transparentize($gray, .75);
    margin: auto 2em;
    padding-bottom: 1em;

    &.price {
      text-align: center;
    }
  }

  h1 {
    background: $brand-primary;
    color: $white;
    font-size: 1.1em;
    margin: 0;
    padding: 1.5em;
    text-align: left;
  }

  h2 {
    background: $gray-light;
    color: $white;
    font-size: 1.1em;
    margin: 0;
    padding: 1.5em;
    text-align: left;
  }

  form:not(.button_to) {
    padding: 1em;

    label {
      color: $white;
    }
  }

  .slider.slider-horizontal {
    margin: 1em;
    width: 80%;

    .slider-track {
      height: 1.5em;
    }

    .slider-handle {
      height: 1.5em;
      margin-top: 0;
      width: 2em;
    }
  }
}

.page-destinction {
  font-size: 12px;
  margin: 10px 0 0 -15px;
}
