aside {
  @include background(linear-gradient(
                          transparentize($white, .2),
                          transparentize($white, .2)
                      ), image-url('broadway.jpg'));

  background-size: cover;
  display: flex;
  flex-direction: column;
  img { max-width: 100%; }

  > section {
    background: transparentize($gray, .75);
    margin: auto 2em;
    padding-bottom: 1em;

    &.price {
      text-align: center;
    }
  }

  h1 {
    background: $brand-primary;
    color: $white;
    font-size: 1.1em;
    margin: 0;
    padding: 1.5em;
    text-align: left;
  }

  h2 {
    background: $gray-light;
    color: $white;
    font-size: 1.1em;
    margin: 0;
    padding: 1.5em;
    text-align: left;
  }

  form .button_to {

  }

  figurecaption.social {
    background-color: transparent;
    .button_to {
      background-color: transparent;
      .like, .unlike, .follow, .unfollow {
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
      }
      .like, .unlike {
        margin-right: 10px;
      }
      .like {
        .fa-thumbs-o-up:before {
          color: rgb(25, 218, 49);
        }
      }
      .unlike {
        .fa-thumbs-up:before {
          color: rgb(25, 218, 49);
        }
      }
      .follow {
        .fa-plus-square-o:before {
          color: rgb(25, 218, 49);
        }
      }
      .unfollow {
        .fa-plus-square:before {
          color: rgb(25, 218, 49);
        }
      }
    }
  }

  .sidebar-likes {
    margin-left: 27px;
    margin-top: -57px;
    font-weight: lighter;
    color: rgb(25, 218, 49);
  }
  .sidebar-follows {
    font-weight: lighter;
    margin-left: 97px;
    margin-top: -31px;
    color: rgb(25, 218, 49);
  }

  form:not(.button_to) {
    padding: 1em;

    label {
      color: $white;
    }
  }

  .slider.slider-horizontal {
    margin: 1em;
    width: 80%;

    .slider-track {
      height: 1.5em;
    }

    .slider-handle {
      height: 1.5em;
      margin-top: 0;
      width: 2em;
    }
  }
}

.page-destinction {
  font-size: 12px;
  margin: 10px 0 0 -15px;
}

.company-profile-details, .production-profile-details, .venue-profile-details, .user-profile-details, .profile-details {
  padding-bottom: 1rem;
  li {
    padding-left: 1.25em;
  }
}
