// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frontpage-show {
    figurecaption {
        display: flex;
        flex-direction: column;
        .full-title {
        }
        .company {
            line-height: 1em;
            font-size: 0.8em;
            color: $gray-light;
            font-style: italic;
        }
        .venue {
            line-height: 1em;
            font-size: 0.8em;
            font-weight: bold;
            color: $gray-light;
        }
        .followers {
            line-height: 1.2em;
            font-size: 0.9em;
            color: $brand-primary;
            i.fa {
                color: lime;
            }
        }
    }
}

.pagination {
    float: right;
}
