#user-profile {
  & > div {
    margin-bottom: 2rem;
  }
  .user-profile-details,
  .social-features {
    h1 {
      margin-bottom: .5rem;
    }
  }
}

.profile_image {
  max-width: 100%;
}

.cancel-account {
  margin-top: 3rem;

  h3 {
    margin-bottom: 1rem;
  }
}

.user-profile-details {
    background-color: rgba(85, 89, 92, 0.25);

    .user-profile-links {
      margin: 1em 1em 0;

      ul {
        list-style: none;
        padding: 0;
      }
    }
}
