#user-profile {
  & > div {
    margin-bottom: 2rem;
  }
  .user-profile-details,
  .social-features {
    h1 {
      margin-bottom: .5rem;
    }
  }
}


.cancel-account {
  margin-top: 3rem;

  h3 {
    margin-bottom: 1rem;
  }
}

#user-stats { margin-top: 1em; }

.user-stat {
  font-weight: bold;
  line-height: 1em;
}

.user-profile-details {
  @extend %profile-sidebar;

    .user-profile-links {
      margin: 1em 1em 0;

      ul {
        list-style: none;
        padding: 0;
      }
    }
}
