// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {

  h1 {
    color: $white;
    text-align: center;
  }

  .control-label {
    color: $white;
  }
}
