%footer
  .container.container-fluid
    #nav-footer.row.flex-items-xs-around
      .col-md-1
        = image_tag('redlogo.png')
      .col-md-2
        <a href="https://twitter.com/theaterengine"><i class="fa fa-facebook"></i></a>
        <a href="https://www.facebook.com/TheaterEngine/"><i class="fa fa-twitter"></i></a>
      .col-md-5
        %ul
          %li
            = link_to 'Legal', terms_path
          %li
            Press
          %li
            Contact Information
          %li
            = link_to 'Privacy Policy', privacy_path
          %li
            All Rights Reserved TheaterEngine
            = Date.today.year
