%footer
  .container.container-fluid
    #nav-footer.row.flex-items-xs-around
      .col-xs-1
        = image_tag('redlogo.png')
      .col-xs-2
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
      .col-xs-5
        %ul
          %li
            Legal
          %li
            Press
          %li
            Contact Information
          %li
            Privacy Policy
      .col-xs-4
        All Rights Reserved TheaterEngine 2016
